{% extends 'AppBundle::base.html.twig' %}

{% block content %}
   
<div class="row">
    <div class="col-md-12">
     <h1>Some page</h1>
    </div>
</div>
   
<div class="row">
    <div class="col-md-12">
     <p> Hello {{ fname~' '~lname}} </p>
    </div>
</div>

{% endblock %}
